/******** Imports ********/

@import "reset.less";
@import "elements.less";

@font-face {
  font-family: 'Fira Sans';
  src: url('../media/typefaces/fira-sans/FiraSansOT-Regular.otf');
}


/******** Variables ********/

@light-gray: #E3E3E1;
@sun-yellow: #FFEF16;
@serious-navy-blue: #183152;
@dark-orange: #B33600;
@serious-teal: #0E5066;
@dark-gray: #333333;




/******** Mixins ********/

.align-mid-960 {
  max-width: 84rem;
  margin: 0 auto;
  padding: 0 2rem;
}




/******** Global Styles ********/

.globals {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  a {
    color: #FF530D;
    &:hover {
      text-decoration: underline;
    }
  }
}




/******** Header Styles ********/

div.intro-container {
  padding: 2rem 0 4rem 0;
  background-color: @light-gray;
  header.title-wrapper {
    .align-mid-960;
    h1 {
      margin-left: -1rem;
      font-size: 18rem;
      font-weight: 800;
      line-height: 1;
    }
    p {
      margin-top: -1rem;
      margin-bottom: 2rem;
    }

  }
  @media screen and (max-width: 635px) {
    font-size: 1.5rem;
    header.title-wrapper {
      h1 {
        font-size: 12rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}




/******** Section Styles ********/

section.sample {
  article.text {
    .align-mid-960;
      line-height: 1;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .source {
      margin-top: 2rem;
    }
  }
}




section#farmers-market {
  padding: 12rem 0;
  background-color: #644241;
  .farmers-market-text {
    a {
      color: #C4B359;
        h3 {
          margin-bottom: 1rem;
          font-family: 'Bevan', serif;
          text-align: center;
          text-shadow: 5px 5px #000;
        }
        h4 {
          font-family: 'Oleo Script', 'cursive';
          font-size: 0.75em;
          font-weight: 700;
          text-align: center;
        }
    }
  }
}




section#ubuntu-mono {
  padding: 6rem 0;
  background-color: @sun-yellow;
  article.text {
    font-family: 'Ubuntu Mono';
    a {
      h2 {
        font-size: 4rem;
      }
      color: #000;
    }
  }
}




section#roboto {
  padding: 6rem 0;
  background-color: @serious-navy-blue;
  article.text {

    a {
        color: #FFF;
      h2 {
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 6rem;
      }
      p {
        font-family: 'Roboto Slab', serif;
      }
    }

  }

}




section#crimson-text {
  padding: 24rem 0;
  background-color: #000;
  article.text {
    font-family: 'Crimson Text', serif;
    text-align: center;
    a {
      color: #FFF;
    }
  }
}




section#tot {

  padding: 6rem 0;
  background-color: orange;

  article.text {

    a {
      color: #FFF;
      h2 {
        margin-bottom: 1rem;
        color: @dark-orange;
        font-family: 'Quicksand', 'sans-serif';
        font-size: 6rem;
      }
      p {
        font-family: 'Fira Sans', sans-serif;
        .columns(50%, 2, 2rem, 0, 0, 0);
      }
    }
  }

}

section#aldrich {

  padding: 12rem 0;
  background-color: #E74445;
  font-family: 'Aldrich', 'sans-serif';

  a {
    display: block;
    position: relative;
    color: #000;
    h2 {
      width: 1rem;
      font-size: 10rem;
      letter-spacing: 10rem;
    }
    p {
      position: absolute;
      top: 0;
      left: 12rem;
      max-width: 40rem;
    }
  }

}




/******** Footer Styles ********/

.footer-container {
  padding: 6rem 0;
  background-color: @dark-gray;
  color: #FFF;
  .thanks {
    margin-bottom: 3rem;
    .align-mid-960;
    font-size: 4rem;
    line-height: 1;
  }
  .credits {
    .align-mid-960;
    a {
      color: #CCC;

    }
    .author {
      color: teal;
    }
    .ruhoh {
      color: #607848;
    }
  }
}